<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
				  Message Board
				</a>
				<button type="button" class="btn btn-default navbar-btn nav-item">Sign in</button>
				<a class="nav-item" href="">Home</a>
				<a class="nav-item" href="questions.html">Questions</a>
			</div>
			<p class="navbar-text navbar-right" style="padding-right:20px">Signed in as Andrew</p>
		</div>
	</nav>

	<section id="landing-page">
		<div class="row" style="text-align:center;">
			<h1>Message Board</h1>
			<br>
			<p>Message Board can be useful for students and teachers alike. We believe that the classroom should foster a collaborative atmosphere, <br> where students prioritize the questions that get answered.</p><br>
			<a href="./student.html" class="btn btn-success">I'm a Student</a>
			<a href="teacher.html" class="btn btn-success">I'm a Teacher</a>
		</div>
	</section>
</html>