<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="font-awesome.min.css">
	</head>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
				  Message Board
				</a>
				<button type="button" class="btn btn-default navbar-btn nav-item">Sign in</button>
				<a class="nav-item" href="index.html">Home</a>
				<a class="nav-item" href="questions.html">Questions</a>
			</div>
			<p class="navbar-text navbar-right" style="padding-right:20px">Signed in as Andrew</p>
		</div>
	</nav>

	<section id="messages">
		<div class="post-container">
			<span class="center-text">
				<h1>Questions</h1>
			</span>
			<div class="add-parent">
				<div class="add-child">
					<input type="text" class="add-question" placeholder="Add Question">
					<input type="submit" class="btn btn-add-question">
				</div>
			</div>
			<li class="post">
				<div class="count"><p>15</p></div>
				<a class="fa fa-arrow-up fa-lg upvote"></a>
				<a id="post-user">Andrew</a>
				<p>What is the difference between heap and stack in C++?</p>
			</li>
			<li class="post">
				<div class="count"><p>10</p></div>
				<a class="fa fa-arrow-up fa-lg upvote"></a>
				<a id="post-user">Anonymous</a>
				<p>Why should I use Node.js over everything else?</p>
			</li>
			<li class="post">
				<div class="count"><p>8</p></div>
				<a class="fa fa-arrow-up fa-lg upvote"></a>
				<a id="post-user">Andrew</a>
				<p>I accidentally typed in "rm -Rf" in Terminal. Where are all my files?</p>
			</li>
		</div>
	</section>
</html>


<script>
	
</script>