<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
				  Message Board
				</a>
				<button type="button" class="btn btn-default navbar-btn nav-item">Sign in</button>
				<a class="nav-item" href="">Home</a>
				<a class="nav-item" href="questions.html">Questions</a>
			</div>
			<p class="navbar-text navbar-right" style="padding-right:20px">Signed in as Andrew</p>
		</div>
	</nav>

	<section id="messages">
		<div class="post">
			<div class="user"><p>Andrew</p></div>
			<p>How do you spell cantaloupe?</p>
		</div>
	</section>
</html>